@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}


body {
    font-family: 'Inter' !important;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
time,
address,
i,
a,
b,
label,
li,
td {
    text-rendering: optimizeLegibility !important;
}

[class*="-italic"] {
    font-style: italic;
}

[class*="-black"] {
    font-weight: 900;
}

[class*="-book"] {
    font-weight: 800;
}

[class*="-bold"] {
    font-weight: 700;
}

[class*="-semibold"] {
    font-weight: 600;
}

[class*="-medium"] {
    font-weight: 500;
}

[class*="-regular"] {
    font-weight: 400;
}

[class*="-light"] {
    font-weight: 300;
}

/* titulos */
[class*="title-1"] {
    font-size: 72px;
}
[class*="title-2"] {
    font-size: 64px;
}
[class*="title-3"] {
    font-size: 48px;
}
[class*="title-4"] {
    font-size: 40px;
}
[class*="title-5"] {
    font-size: 32px;
}
[class*="title-6"] {
    font-size: 24px;
}
[class*="title-7"] {
    font-size: 18px;
}

/* paragrafos */
[class*="paragraph-1"] {
    font-size: 20px;
} 
[class*="paragraph-2"] {
    font-size: 16px;
} 

[class*="paragraph-3"] {
    font-size: 14px;
} 

/* links */
[class*="link-1"] {
    font-size: 20px;
} 
[class*="link-2"] {
    font-size: 16px;
} 

